@model IEnumerable<Hospital_Randevu.Models.Doctor>

    <div  class="search"  style="margin-top:10%;">
    @using (Html.BeginForm("ListDoctors", "Doctor", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input type="submit" value="Search" style=" background-color: #1E90FF ; color:white;width:200px ;border:none ; height:30px;" />
    }
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3"  style="color:red">
                    Data Do not found
                </td>
            </tr>
        }
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialty)
            </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
               
          
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            <td>
                    <a asp-action="EditDoctor" style="color:green ; text-decoration:none ;display:flex" asp-route-id="@item.DoctorID">
                        Edit<span class="material-symbols-outlined">
                            edit
                        </span>
                    </a> 

                  
            </td>
            <td>
                    <a asp-action="DeleteDoctor" style="color:red ; text-decoration:none  ;display:flex" asp-route-id="@item.DoctorID">
                        Delete<span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
