@model IEnumerable<Hospital_Randevu.Models.Doctor>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialty)
            </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
               
          
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            <td>
                    <a asp-action="EditDoctor" style="color:green ; text-decoration:none ;display:flex" asp-route-id="@item.DoctorID">
                        Edit<span class="material-symbols-outlined">
                            edit
                        </span>
                    </a> 

                  
            </td>
            <td>
                    <a asp-action="DeleteDoctor" style="color:red ; text-decoration:none  ;display:flex" asp-route-id="@item.DoctorID">
                        Delete<span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
