@model IEnumerable<Hospital_Randevu.Models.DoctorWorkTime>

<table class="table"  id="linear">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDaysFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDaysTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDaysFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDaysTo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                    <button><a class="cancel" asp-action="Delete" asp-route-id="@item.DoctorWorkTimeID"><span class="material-symbols-outlined">cancel </span>Cancel</a></button>

            </td>

            <td>

                    <button><a class="edit" asp-action="Edit" asp-route-id="@item.DoctorWorkTimeID"><span class="material-symbols-outlined">Edit</span>Edit</a></button>


            </td>
        </tr>
}
    </tbody>
</table>
